<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76509763804-e53e7jiksme6p2kcbgm4od566mnfk6fc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76509763804-e53e7jiksme6p2kcbgm4od566mnfk6fc</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ7FXsE31YlluSRNKXS8HgJ3y6rqgjDr4</string>
	<key>GCM_SENDER_ID</key>
	<string>76509763804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neilgamb.popup-finder</string>
	<key>PROJECT_ID</key>
	<string>popup-finder</string>
	<key>STORAGE_BUCKET</key>
	<string>popup-finder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76509763804:ios:4086159925ac71e1c63c19</string>
</dict>
</plist>